/*Common settings*/
body{
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    height: 2000px;
}


/* Header settings */
.header{
    background-color: white;
    background-attachment: fixed;
    background-position: 0 0;
    height: 56px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    opacity: 0.9;
    position: fixed;
    width: 98%;
    z-index: 100;
}


/*Header Start settings */
.start{
    display: flex;
    align-items: center;
    min-width: 220px;
}

.logo{
    width: 118px;
    height: 76px;
    margin-left: 6px;
}

.menu{
    width: 20px;
    height: 20px;
    padding: 8px;
}

.country_code {
    margin: 0 0 20px -10px;
    color: #606060;
    font-size: 9.5px;
    font-family: Roboto, Arial, sans-serif;
}


/*Header Center settings */
.center{
    display: flex;
    align-items: center;
    width: 43%;
}

.search_field{
    height: 34px;
    font-family: Roboto, Noto, sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
    color: #232323e6;
    font-stretch: expanded;
    width: 100%;
}

.icon{
    margin-right: 5px;
}

.search_button{
    width: 61px;
    height: 42px;
    border: 1px solid #d3d3d3;
    background-color: #f8f8f8;
    border-radius: 0 2px 2px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search_icon{
    width: 18px;
    height: 18px;
    margin: 0 0 0 14px;
}

.search_elements{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 50px);
}

.search_element1{
    border: 1px solid #ccc;
    border-radius: 2px 0 0 2px;
    border-right-width: 0;
    box-shadow: inset 0 1px 2px #eee;
    padding: 2px 6px;
    display: flex;
    align-items: center;
    width: 100%;
}

.search_element2{
    position: relative;
}

.microphone{
    pointer-events: none;
    display: block;
    width: 24px;
}

.background_circle, .add_video_circle, .apps_circle, .notification_circle, .search_circle, .voice_search_circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    background-color: #f9f9f9;
    margin-left: 10px;
}

.label_search, .label_voice_search{
    position: absolute;
    top: 55px;
    left: -15px;
    background: #616161;
    color: white;
    padding: 10px 8px 10px 8px;
    opacity: 0.9;
    display: none;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 12px;
    font-weight: 400;
    border-radius: 2px;
    width: 90px;
}

.label_voice_search{
    width: 95px;
}

.search_element2:hover .label_search, .background_circle:hover .label_voice_search{
    display: block;
}


/* Header End Settings */
.end{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12%;
    min-width: 200px;
    margin-right: 20px;
}

.add_video, .apps, .notification{
    pointer-events: none;
    display: block;
    width: 24px;
    cursor: pointer;
}

.profile_photo{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: #f2f3f4;
    cursor: pointer;
}

.add_video_circle, .apps_circle, .notification_circle, .search_circle, .voice_search_circle{
    background-color: white;
    margin-left: 0;
}

.label_add_video, .label_apps, .label_notifications, .label_search_mini, .label_voice_search_mini{
    position: absolute;
    top: 55px;
    background: #616161;
    color: white;
    padding: 10px 8px 10px 8px;
    opacity: 0.9;
    display: none;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 12px;
    font-weight: 400;
    border-radius: 2px;
}

.label_apps{
    width: 123px;
}

.add_video_circle:hover .label_add_video, .apps_circle:hover .label_apps, .notification_circle:hover .label_notifications{
    display: block;
}

.search_circle, .voice_search_circle{
    display: none;
}

/* Adaptation  */
@media (max-width: 650px) {
    .start{
        min-width: auto;
    }

    .center{
        display: none;
    }

    .end{
        width: 45%;
        min-width: 200px;
        margin-right: 20px;
    }

    .search_circle, .voice_search_circle{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search_icon{
        margin: 0;
    }

    .label_search_mini, .label_voice_search_mini{
        width: 90px;
    }

    .search_circle:hover .label_search_mini, .voice_search_circle:hover .label_voice_search_mini{
        display: block;
    }

    .label_voice_search_mini{
        width: 95px;
    }

    .profile_photo{
        width: 32px;
    }
}