.main_part{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 56px;
    z-index: -1;
    font-family: "Roboto","Arial",sans-serif;
    font-weight: 400;
}

.column{
    display: flex;
    height: 2000px;
    padding: 24px 24px 0 0;
    align-items: center;
    flex-direction: column;
}

.left{
    background-color: aqua;
    width: 63%;
    margin-left: 24px;
}

.right{
    background-color: cornflowerblue;
    width: 27%;
}

.el_left{
    width: 100%;
}

.el_right{
    z-index: 1;
    width: 100%;
}

.video_player{
    background-color: antiquewhite;
    height: 535px;
}

.annotation{
    background-color: aquamarine;
    height: 430px;
}

.comments{
    background-color: blueviolet;
    height: calc(100% - 530px - 430px);
}

.choose_bar{
    background-color: darkorchid;
    height: 50px;
}

.video_suggested{
    background-color: deeppink;
    height: calc(100% - 50px);
}

p{
    color: #065fd4;
    font-size: 12px;
    margin: 22px 0 0 0;
}

h1{
    color: #030303;
    font-size: 18px;
    font-weight: 200;
    margin-top: 5px;
}
